.section {
  &__hero {
    padding-top: 61px;
  }
}
.hero {
  display: flex;
  align-items: center;
  &__item {
  }
  &__title {
  }
  &__text {
  }
  &__form {
  }
  &__input {
  }
}
.form {
  &__btns {
  }
}
.btn {
  &__text {
  }
}
.rating {
}
.logos {
}