.section {
  &__price {
    margin-top: 40px;
  }
}
.price {
  display: flex;
  align-items: center;
  height: 500px;
  &__item {
    flex: 0 1 50%;
    &.right__item{
      display: flex;
      justify-content: center;
      align-items: center;
      background: red;
      height: 100%;
    }
  }
  &__list {
  }
  &__list-item {
  }
  &__btn {
  }
  &__info {
  }
}
.list {
  &__item-1 {
  }
  &__item-2 {
  }
  &__item-3 {
  }
  &__item-4 {
  }
  &__item-5 {
  }
}
.btn {
}
.coats {
  font-style: normal;
  font-weight: 700;
  font-size: 120px;
  line-height: 80%;
  letter-spacing: -0.03em;
  color: $primary;
}
.period {
}